
 

  <form [formGroup]="addressForm">
    <label>indirizzo</label>
   <input type="text" [formControlName]="'street'" class="question">
   <label>numero</label>
   <input type="text"[formControlName]="'number'" class="question">
   <label>cap</label>
   <input type="text" [formControlName]="'cap'" class="question">
   <label>provincia</label>
   <input type="text" [formControlName]="'province'" class="question">
   <label>città</label>
   <input  type="text" [formControlName]="'city'" class="question">
   <label>latitude</label>
   <input type="number" [formControlName]="'latitude'" class="question">
   <label>longitudine</label>
   <input type="number" [formControlName]="'longitude'" class="question">

    </form>
    <ion-button (click)="localize()">
      <ion-icon slot="icon-only" name="locate"></ion-icon>
    </ion-button>
    <ion-button (click)="geodecode()" [disabled]="canGeodecode">
      <ion-icon slot="icon-only" name="location"></ion-icon>
    </ion-button>
    <div #map style="width:100%;height:400px"></div>

