
 

  <form [formGroup]="addressForm">
    <label>indirizzo</label>
   <input type="text" [formControlName]="'address'" class="question">
   <label>cap</label>
   <input type="text" [formControlName]="'cap'" class="question">
   <label>provincia</label>
   <input type="text" [formControlName]="'province'" class="question">
   <label>città</label>
   <input  type="text" [formControlName]="'city'" class="question">
   <label>longitudine</label>
   <input type="number" [formControlName]="'longitude'" class="question">
   <label>latitude</label>
   <input type="number" [formControlName]="'latitude'" class="question">

    </form>

