
 

  <form [formGroup]="addressForm">
    <label>indirizzo</label>
   <input type="text" [formControlName]="'address'">
   <label>cap</label>
   <input type="text" [formControlName]="'cap'">
   <label>provincia</label>
   <input type="text" [formControlName]="'province'">
   <label>città</label>
   <input  type="text" [formControlName]="'city'">
   <label>longitudine</label>
   <input type="number" [formControlName]="'longitude'">
   <label>latitude</label>
   <input type="number" [formControlName]="'latitude'">

    </form>

