
<ion-toggle (ionChange)="triggeredTracking($event)"></ion-toggle>
<ion-spinner name="crescent" *ngIf="trackingIsOn"></ion-spinner>
<div class="trackingIsOn" *ngIf="trackingIsOn">il tracking è attivo </div>
<div class="trackingIsOff" *ngIf="!trackingIsOn">il tracking non è attivo </div>


{{info}}
<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"   >
 
  <agm-marker
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable">
     
    <agm-info-window>
      <strong>Label: {{m.label}}</strong><br/>
      <strong>Latitude: {{m.lat}}</strong><br/>
      <strong>Longitude: {{m.lng}}</strong>
    </agm-info-window>
   
  </agm-marker>
  <agm-polyline [visible]="true" [strokeWeight]="3" [strokeColor]="'#07b57a'">
    <agm-polyline-point
    *ngFor="let coordinate of latlng; let i=index"
    [latitude]="coordinate.lat"
    [longitude]="coordinate.lng">

</agm-polyline-point>
</agm-polyline>

 
</agm-map>