<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-icon name="search" slot='secondary'></ion-icon>
    <ion-input slot="primary" type="text" (ionChange)="filter($event)"></ion-input>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of itemsList | filterItems: filterFunction | sorterItems: sorterFunction ">
      <article (click)="selected(item)">
        <h1>{{item.getTitle().value}}</h1>
      </article>
    </ion-item>
  </ion-list>

  <ion-fab class="addItem" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>