<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        (click)="goHome()"
        class="button-clear ion-chevron-left"
        defaultHref="/home"
      >
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Non Autorizzato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p class="alert-message">{{ message }}</p>
  <ion-img [src]="image"></ion-img>

  <a
    style='background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px'
    href="https://unsplash.com/@davidvondiemar?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
    target="_blank"
    rel="noopener noreferrer"
    title="Download free do whatever you want high-resolution photos from David von Diemar"
    ><span style="display:inline-block;padding:2px 3px"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white"
        viewBox="0 0 32 32"
      >
        <title>unsplash-logo</title>
        <path
          d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"
        ></path></svg></span
    ><span style="display:inline-block;padding:2px 3px"
      >David von Diemar</span
    ></a
  >
</ion-content>
